body {
    overflow-x: hidden;
}


/* Navegacion */

.menu {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    text-align: center;
}

.menu-oscuro {
    background-color: #000;
    margin-top: 0px;
}


/* Navegacion */

.menu-items li a {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}


/* Navegacion */

.menu_items li hover,
li.active {
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}

#call-to-action {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../recursos/seafood.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100vw;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    padding-top: 150px;
    background-attachment: fixed;
}

.categoria {
    margin: 30px 0;
}

.caja-img-categoria {
    height: 400px;
    width: 100%;
}

.categorias .img-categoria {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-res {
    height: 25vw;
}

.mapa {
    width: 100%;
    height: 25vw;
}

ul.show {
    top: 65px;
}

@media screen and (max-width:768px) {
    .menu-responsivo {
        background-color: #000;
    }
}

@media screen and(max-width:858px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    /* #restaurante {
        font-size: 25%;
    } */
    .menu_items {
        position: fixed;
        width: 100vh;
        height: calc(100% - 65px);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: white;
    }
    #restaurante {
        font-size: 10%;
        padding-left: 35px;
    }
}


/* se centra texto de seccion horario */

.horario {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
}


/* centrar verticalmente textos de categorias */

.categorias>div>div {
    display: grid;
    place-items: center;
}


/* modifica textos de seccion reservaciones */

.reservaciones>h2 {
    text-align: center;
}

.reservaciones>p {
    text-align: center;
}

.reservaciones {
    margin-top: 5vw;
    margin-bottom: 5vw;
}


/* centrar texto de titulo nosotros */

.nosotros>h2 {
    text-align: center;
}


/* agrega margen de la seccion beneficios */

.beneficios>div {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#Menu-tit {
    font-family: 'Island Moments', cursive;
    font-family: 'Neonderthaw', cursive;
    font-size: 7vw;
    font-weight: bold;
}

.desayunos,
.piqueos {
    font-family: 'Island Moments', cursive;
    font-size: 7vw;
}

#beneficios-tit,
#reservaciones-tit,
.tit-nosostros {
    font-family: 'Island Moments', cursive;
    font-family: 'Neonderthaw', cursive;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
}