
.modal-producto {
  padding: 15px;

}

.img-producto-modal {
  
  height: 400px; 
  width: 100%;  

}

.img-producto-modal .img-producto {

  height: 100%; 
  width: 100%;  
  object-fit: cover;
  border-radius: 5px;


}

.producto{
  cursor: pointer;
}

.inf-producto {
  display: flex;
}


.img-inf-producto{
  border: 1px solid #000;
  width: 150px;
  display: block;


}

